#listAttended[b-9275eyjz5j] {
    width: 100%;
    height: 200px;
    overflow-y: scroll;
}

    #listAttended ul li[b-9275eyjz5j] {
        cursor: pointer;
    }

        #listAttended ul li[highlight][b-9275eyjz5j] {
            font-weight: bolder;
            color: green;
        }
